*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", "Lucida Grande";
  width: 375px;
  height: 812px;
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 0px;
  width: 375px;
  height: 812px;
  margin: 0 auto;
}

/*Positions the notch on iPhone models X and later*/
#notch {
  position: fixed;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  z-index: 1;
}

/*Styles nav bar*/
nav {
  position: fixed;
  width: 375px;
  height: 88px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  background-color: #f8f8f8;
  border-bottom: 0.5px solid rgba(0,0,0,0.3);
}

#status-bar-right {
  display: inline-block;
  width: 49%;
  padding: 0 2% 0 28%;
}

#status-bar-left {
  display: inline-block;
  width: 49%;
  padding: 0 0 0 7%;
}

#nav-bar {
  padding: 6% 0 0 0;
}

#back {
  display: inline-block;
  width: 20%;
  padding: 0 3%;
  color: #2b6ba1;
}

#bus-stop {
  display: inline-block;
  width: 57%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#top-wrapper {
  position: sticky;
  top: -259px;
  transform: translateY(332px);
  z-index: -1;
}

/*Styles main content*/
.main {
  position: absolute;
  width: 375px;
  height: 724px;
  top: 88px;
  /*overflow-x: hidden;
  overflow-y: scroll;*/
}


#map {
  position: fixed;
  top: 88px;
  margin: 0 auto;
  z-index: -3;
}

#bus-list {
  /*position: -webkit-sticky;
  position: sticky;*/
  position: relative;
  top: 0px;
  width: 375px;
/*  height: 482px;*/
  margin: 0 auto;
/*  padding-top: 242px;*/
  transform: translateY(292px);
  z-index: -2;
/*  overflow: scroll;*/
}

/*Styling for the top of the bus-list drawer*/
.top-background {
  position: absolute;
  display: block;
  width: 375px;
  height: 50px;
  background-color:#ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.05);
  z-index: -1;
}

.top {
 position: relative;
 display: block;
 width: 375px;
 height: 50px;
 border-radius: 10px 10px 0 0;
 border: 1px solid #dadada;
}

#slider img {
  display: block;
  margin: 0 auto;
}

#next-arrivals {
  padding: 1% 0 3% 5%;
  top: 50%;
  transform: translateY(-20%);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

/*Styling for all bus arrival list items*/
.bus-background {
  display: block;
  width: 375px;
  height: 108px;
  background-color: #ffffff;
  filter: opacity(95%);
  -webkit-filter: opacity(95%);
  position: absolute;
}

.bus {
  position: relative;
  display: block;
  width: 375px;
  height: 108px;
  padding: 1%;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
}

/*Styling for bus info, displayed on the left-hand side*/
.bus-info {
  position: absolute;
  display: inline-block;
  width: 60%;
  padding: 1% 0 1% 4%;
  top: 50%;
  transform: translateY(-50%);
}

.bus-info h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1em;
}

.bus-info h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
}

.bus-info h5 {
  color: #8d8d8d;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2em;
}

/*Styling for arrival info, displayed on the right-hand side.*/

.arrival-info {
  position: absolute;
  display: inline-block;
  width: 35%;
  padding: 1% 4% 1% 0;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
}

.time {
  float: right;
  margin: 0 auto;
  padding: 5% 0;
  color: #2b6ba1;
}

.arrival-info h1 {
  display: inline;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: right;
}

.arrival-info h3 {
  display: inline;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: right;
}

.arrival-info h6 {
  display: block;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2em;
  text-align: right;
}

/*Text and icon styling for special cases such as an alert or a bus arriving now.*/
.arrival-now {
  color: #34ac49;
}

.reroute {
  color: #f96f35;
}

div.reroute {
  position: absolute;
  top: 50%;
  transform: translateY(-65%) translateX(-20%);
  display: inline-block;
  padding: 20% 10% 5% 15%;
}
